.App {
  margin: 20px;
  border: 1px solid lightgray;
  text-align: center;
}

.App.md {
  width: 840px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-dark {
  height: 50vh
}
.App-header-light {
  height: 50vh;
  width: 100vw;
  background-color: white;
}

.App-link {
  display: inline-block;
  height: 9vmin;
  line-height: 9vmin;
  color: #61dafb;
}
.App-link:visited {
  color: yellow;
}

.App-link-mirror {
  transform: rotateX(180deg);
  filter: invert(1);
}
.App-link-mirror:visited {
  color: red
}
